@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-stack-header: 'Anton', Arial, Helvetica, sans-serif;
$font-stack-paragraph: 'Open Sans', sans-serif;

li {
	list-style: none;
}

ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	font-family: $font-stack-header !important;
	font-weight: bold !important;
	font-size: 32px;
	text-align: center;
	padding-top: 15px;
}

p, span, label, {
	font-family: $font-stack-paragraph !important;
}

a:hover {
	font-weight: bold;
}

.active {
	font-weight: bold;
}

.search-link, .gallery-link {
	padding-bottom: 15px
}

.search-link {
	padding-right: 15px;
}

.gallery-link {
	padding-left: 15px;
}

.not-found {
	text-align: center;
	font-size: 28px;
	position: absolute;;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}
