.popular-list-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 25px;
}

.popular-item-gallery {
	text-align: center;
}

.picture-gallery {
	height: 500px;
	width: 341.66px;
	padding-bottom: 25px;
	padding-right: 12.5px;
	padding-left: 12.5px;
}

.Genres {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
